@charset 'utf-8';

//変数
$color-yellow:#dc0;
$color-white: #f8f8f8;
$color-gray:#aaa;

body {
    background-color: #aaa;

    h1 {
        font-size: 16px*2;
    }
}

.gnav {
    background-color: $color-yellow;

    &__list {
        display: flex;
        list-style-type: none;
        padding: 32px 0 32px 0;
    }

    &__item {
        border: 2px solid $color-white;
    }

    &__link {
        color: $color-white;
        text-decoration: none;

        &:hover {
            background:$color-gray;
        }
    }
}